</main>
<footer class="footer">
  <span>&copy; {{ now.Year }} <a href="https://digital-labs.ca/" rel="noopener" target="_blank">Digital Labs</a></span>
  <span>&middot;</span>
  <a href="mailto:support@digital-labs.ca">Email support</a>
  <span>&middot;</span>
  <a href="/privacy-policy">Privacy</a>
</footer>
<script src="{{.Site.BaseURL}}js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
<script src="{{.Site.BaseURL}}js/highlight.min.js" data-no-instant></script>
<script data-no-instant>
  addMenuListener();
  InstantClick.on('change', function() {
    addMenuListener();
  });
  function addMenuListener() {
    var $toggle = document.querySelector('.menu-toggle');
    if ($toggle) {
      var $body = document.querySelector('body');
      $toggle.addEventListener('click', function() {
        $body.classList.toggle('noscroll');
      }, false);
    }
  }
</script>
</body>
</html>
